body {
  text-align: center;
  background-color: #313131;
  color: azure;
  background-image: url('background-image.png');
}

.button button {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #eee;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 3px;
}
.button button:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}
.button button:after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-48%);
  position: absolute;
  top: 48%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}
